/* ================================= DEFAULT ================================= */

:root {
    --main-blue: #0065FC;
    --dark-blue: #0056D6;
    --light-blue: #DEEBFF;
    --main-gray: #F2F2F2;
    --main-black: #000000;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    padding: 0;
}

main {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

i {
    font-size: 20px;
    text-align: center;
}

span {
    font-weight: bold;
}

@media screen and (min-width: 992px) {
    /* ================================= HEADER ================================= */

    /* Navbar */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 150px;
    }

    /* Left content */
    nav img {
        height: 50px;
        padding: 50px;
    }

    /* Right content */
    nav .right {
        width: 450px;
        height: 100%;
    }

    nav .nav_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        height: 100%;
    }

    nav .nav_list .list_item {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        height: 100%;
        width: 100%;

        transition: all 200ms ease-in-out;
    }

    nav .nav_list .list_item a {
        font-weight: 300;
        text-decoration: none;
        color: var(--main-black);

        transition: color 200ms ease-in-out;
    }

    nav .nav_list .list_item::before {
        content: '';
        transition: all 200ms ease-in-out;
    }

    nav .nav_list .list_item:hover::before {
        content: '';

        position: absolute;
        top: 0;

        height: 1px;
        width: 75%;

        border-top: 3px solid var(--main-blue);
    }

    nav .nav_list .list_item:hover>a {
        color: var(--main-blue);
    }

    /* ================================= SEARCH ================================= */

    /* SEARCH BAR */
    .search_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        margin: 5px 30px 5px 30px;
    }

    /* TITLE */
    .search_container .search_text {
        margin-top: 10px;
        margin-bottom: 15px;

        font-weight: 100;
        color: var(--main-black);
    }

    /* FORM */
    .search_container form {
        display: flex;
    }

    .search_container .form__icon_container {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 20px;
        background-color: var(--main-gray);

        height: 45px;
        width: 45px;

        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;

    }

    /* INPUT */
    .search_container form .form__input {
        position: relative;
        padding-right: 50px;
        padding-left: 10px;

        border: 1px solid #F2F2F2;
        border-right-style: none;
        border-left-style: none;

        height: 41px;
        width: 200px;

        font-weight: 500;
        font-size: 14px;
    }

    .search_container form .form__input::placeholder {
        font-weight: 500;
        font-size: 14px;
        color: var(--main-black);
    }

    .search_container form .form__button {
        margin: 0;
        padding: 15px;

        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        background-color: var(--main-blue);
        height: 45px;

        font-weight: 500;
        color: #ffffff;

        cursor: pointer;
        transition: background-color 200ms ease-in-out;
    }

    .search_container form .form__button:hover {
        background-color: var(--dark-blue);
    }

    /* FILTER */
    .filter {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: 25px;
        margin-bottom: 25px;

        width: 80%;
    }

    /* FILTER TITLE */
    .filter .filter__title {
        display: flex;
        align-items: center;

        margin-right: 25px;

        font-weight: 600;
        height: 40px;
    }

    /* FILTER LIST */
    .filter .filter__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 80%;
    }

    .filter .filter__list .filter__list__item {
        display: flex;
        align-items: center;

        position: relative;
        padding: 10px 25px 10px 65px;
        height: 30px;

        border-radius: 30px;
        border: 2px solid var(--main-gray);
        border-left-style: none;

        font-weight: 600;
        transition: 400ms all ease;
    }

    .filter .filter__list .filter__list__item:hover {
        background-color: var(--dark-blue);
        color: #ffffff;
        border: 2px solid var(--dark-blue);
        border-left-style: none;
    }

    /* ICONS */
    .filter .filter__list #economic::before {
        content: '\f53a';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        top: -2px;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    .filter .filter__list #child::before {
        content: '\e59d';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    .filter .filter__list #heart::before {
        content: '\f004';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    .filter .filter__list #dog::before {
        content: '\f6d3';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    /* INFORMATIONS CONTAINER */
    .info_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 40%;
    }

    .info_container .info_picto {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;

        border-radius: 50%;
        border: 2px solid var(--main-gray);

        width: 25px;
        height: 25px;

        color: var(--main-blue)
    }

    .info_container .info_text {
        font-weight: 100;
    }

    /* ================================= HOSTS LEFT ================================= */
    .hosts_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 5px 30px 5px 30px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .hosts_container .hosts_left {
        width: 70%;

        padding: 20px;
        background-color: var(--main-gray);
        border-radius: 15px;
    }

    .hosts_container .hosts_left .host__left__title {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 40px;
    }

    .hosts_container .hosts_left .hosts_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .hosts_container .hosts_left .hosts_list__item {
        display: flex;
        flex-direction: column;
        flex: 0 0 30%;

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        margin-bottom: 25px;

        max-width: 100%;
        max-height: 100%;

        min-width: 200px;
        min-height: 100px;

        background-color: #ffffff;
        border-radius: 25px;
    }

    .hosts_container .hosts_left .hosts_list__item .item__img {
        height: 150px;

        object-fit: cover;
        border-radius: 25px 25px 0 0;

        padding: 5px;
    }

    .hosts_container .hosts_left .hosts_list__item .item__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;

        height: 80px;
    }

    .hosts_container .hosts_left .hosts_list__item .item__content .item__price {
        font-weight: 100;
    }

    .hosts_container .hosts_left .hosts_list__item .item__content .item__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding-left: 15px;

        width: 30%;
        height: 25%;
    }

    .hosts_left__add_more {
        font-weight: 600;
        margin-top: 15px;
        margin-left: 40px;
    }

    /* HOST RIGHT */
    .hosts_container .hosts_right {
        display: flex;
        flex-direction: column;

        max-width: 20%;

        padding: 20px;
        background-color: var(--main-gray);
        border-radius: 15px;
    }

    .hosts_right .hosts_right__title_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 25px;
        margin-bottom: 25px;
    }

    .hosts_right .hosts_right__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 100%;
    }

    .hosts_right .hosts_right__list_item {
        display: flex;
        flex-direction: row;

        background-color: #ffffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 25px;

        height: 150px;
    }

    .hosts_right .hosts_right__list_item .hosts_right__list_item__image {
        padding: 5px;

        border-radius: 25px 0 0 25px;
        width: 35%;
        max-height: 160px;
        object-fit: cover;
    }

    .hosts_right .hosts_right__list_item .hosts_right__list_item_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 10px;
    }

    .hr__lic__price {
        padding-top: 10px;
    }

    .hosts_right .hosts_right__list_item .hosts_right__list_item_content .hr__lic__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* ================================= ACTIVITES ================================= */
    .activites {
        margin: 5px 30px 5px 30px;
        margin-bottom: 40px;
    }

    .activites .activities__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 20px;
        height: 100%;
    }

    .activites .activities__list .activities__list_item {
        width: 20%;
        border-radius: 15px;
    }

    /* LARGE CARD */
    .activites .activities__list .activities__list_item .ali__img {
        width: 100%;
        height: 460px;

        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .activites .activities__list .activities__list_item .ali__text {
        padding: 10px 10px 0 10px;
    }

    /* MEDIUM CARD */
    .activites .activities__list .activities__list_item .card_medium {
        width: 100%;
        height: 50%;

        border-radius: 15px;
    }

    .cards-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card-sup-img {
        width: 100%;
        border-radius: 15px;
    }

    .card-sup-img img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        min-width: 100%;
        height: 230px;
    }

    /* SMALL CARD */
    .card-min-img {
        width: 100%;
        border-radius: 15px;
    }

    .card-min-img img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        min-width: 100%;
        height: 130px;
    }

    .card__txt {
        padding: 10px
    }

    /* SECOND CARDS COLUMN */
    .card-sup-img-2 {
        width: 100%;
        border-radius: 15px;
    }

    .card-min-img-2 {
        width: 100%;
        border-radius: 15px;
    }

    .card-min-img-2 img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        min-width: 100%;
        height: 200px;
    }

    .card-sup-img-2 img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        min-width: 100%;
        height: 200px;
    }

    /* ================================= FOOTER ================================= */

    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        background-color: var(--main-gray);

        width: 100%;
        height: 250px;

        margin-top: 20px;
        padding-left: 20px;
    }

    footer .footer__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 70%;
        padding-right: 250px;
    }
}

/* ================================= MISCELLANEOUS ================================= */

.stars {
    color: var(--main-blue);
}

.none {
    color: var(--main-gray);
}

.shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-reset {
    text-decoration: none;
    color: var(--main-black);
}