@media screen and (max-width: 768px) {

    h2 {
        font-size: 22px;
    }

    /* ================================= HEADER ================================= */
    /* Navbar */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 150px
    }

    /* Left content */
    nav img {
        height: 70px;
        padding-left: 50px;
    }

    /* Right content */
    nav .right {
        width: 100%;
    }

    nav .nav_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav .nav_list .list_item {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        width: 100%;
    }

    nav .nav_list .list_item a {
        font-weight: 300;
        color: var(--main-black);

        text-decoration: none;
        text-align: center;

        width: 100%;
        padding: 20px 0;
        border-bottom: 3px solid var(--main-gray);
        transition: all 200ms ease-in-out;
    }

    /* ================================= SEARCH ================================= */
    /* SEARCH BAR */
    .search_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;

        margin: 5px 30px 0 30px;
    }

    /* TITLE */
    .search_container .search_text {
        margin-top: 20px;
        margin-bottom: 15px;

        font-weight: 100;
        color: var(--main-black);
    }

    /* FORM */
    .search_container form {
        display: flex;
    }

    .search_container .form__icon_container {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 15px;
        background-color: var(--main-gray);

        height: 45px;
        width: 45px;

        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;

    }

    /* INPUT */
    .search_container form .form__input {
        position: relative;

        padding-left: 10px;

        border: 1px solid #F2F2F2;
        border-right-style: none;
        border-left-style: none;

        height: 41px;
        width: 150px;

        font-weight: 500;
        font-size: 14px;
    }

    .search_container form .form__input::placeholder {
        font-weight: 500;
        font-size: 14px;
        color: var(--main-black);
    }

    .search_container form .form__button {
        display: none;
    }

    .search_container form label::after {
        content: '\f002';

        position: absolute;

        border-radius: 0px 25% 25% 0;

        background-color: var(--main-blue);
        text-align: center;

        height: 32px;
        width: 45px;
    }

    .search_container form .form__button:hover {
        background-color: var(--dark-blue);
    }

    /* FILTER */
    .filter {
        display: flex;
        flex-direction: column;

        margin-top: 25px;
        margin-bottom: 25px;
    }

    /* FILTER TITLE */
    .filter .filter__title {
        display: flex;
        align-items: center;

        margin-right: 25px;

        font-weight: 600;
        height: 40px;
    }

    /* FILTER LIST */
    .filter .filter__list {
        display: flex;
        flex-wrap: wrap;
        height: 25%;
    }

    .filter .filter__list .filter__list__item {
        display: flex;
        align-items: center;

        position: relative;

        margin-top: 15px;
        margin-right: 5px;
        padding: 10px 15px 10px 65px;

        width: fit-content;
        height: 30px;

        border-radius: 30px;
        border: 2px solid var(--main-gray);
        border-left-style: none;

        font-weight: 600;
        transition: 400ms all ease;
    }

    .filter .filter__list .filter__list__item:hover {
        background-color: var(--dark-blue);
        color: #ffffff;
        border: 2px solid var(--dark-blue);
        border-left-style: none;
    }

    /* ICONS */
    .filter .filter__list #economic::before {
        content: '\f53a';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        top: -2px;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    .filter .filter__list #child::before {
        content: '\e59d';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    .filter .filter__list #heart::before {
        content: '\f004';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    .filter .filter__list #dog::before {
        content: '\f6d3';

        height: 54px;
        width: 54px;
        border-radius: 50%;

        position: absolute;
        left: -1px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--main-blue);
        background-color: var(--light-blue);

        font-family: "Font Awesome 6 Free", sans-serif;
        font-weight: 900;
        font-size: 20px;

        transition: 400ms all ease;
        z-index: 1;
    }

    nav .nav_list .list_item a.active {
        border-bottom: 3px solid var(--main-blue);
        color: var(--main-blue);
    }

    /* INFORMATIONS CONTAINER */
    .info_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
    }

    .info_container .info_picto {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;
        margin-bottom: 15px;

        border-radius: 100%;
        border: 2px solid var(--main-gray);

        width: 30px;
        height: 25px;

        color: var(--main-blue);
        font-size: 15px;
    }

    .info_container .info_text {
        font-weight: 100;
    }

    /* ================================= HOSTS ================================= */
    .hosts_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        margin: 20px auto 20px;
    }

    /* HOSTS LEFT */
    .hosts_container .hosts_left {
        padding: 20px;
        border-radius: 15px;
    }

    .hosts_container .hosts_left .hl__title {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 10px;
    }

    .hosts_container .hosts_left .hosts_list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-top: 20px;
    }

    /* PRODUCT ITEM */
    .hosts_container .hosts_left .hosts_list__item {
        display: flex;
        flex-direction: column;

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        margin-bottom: 25px;

        max-width: 100%;
        max-height: 100%;


        background-color: #ffffff;
        border-radius: 25px;
    }

    .hosts_container .hosts_left .hosts_list__item .item__img {
        height: 150px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;

        padding: 5px;
    }

    .hosts_container .hosts_left .hosts_list__item .item__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;

        height: 80px;
    }

    .hosts_container .hosts_left .hosts_list__item .item__content .item__price {
        font-weight: 100;
    }

    .hosts_container .hosts_left .hosts_list__item .item__content .item__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 30%;
        height: 25%;
    }

    .hosts_left__add_more {
        font-weight: 600;
        margin-top: 15px;
    }

    /* HOSTS RIGHT */
    .hosts_container .hosts_right {
        display: flex;
        flex-direction: column;

        padding: 20px;
        background-color: var(--main-gray);
    }

    .hosts_right .hosts_right__title_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: 25px;
        margin-bottom: 25px;
    }

    .hosts_right .hosts_right__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 500px;
    }

    .hosts_right .hosts_right__list_item {
        display: flex;
        flex-direction: row;

        background-color: #ffffff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 25px;

        height: 150px;
    }

    .hosts_right .hosts_right__list_item .hosts_right__list_item__image {
        padding: 5px;

        border-radius: 25px 0 0 25px;
        width: 35%;
        max-height: 160px;
        object-fit: cover;
    }

    .hosts_right .hosts_right__list_item .hosts_right__list_item_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding: 10px;
    }

    .hr__lic__price {
        padding-top: 10px;
    }

    .hosts_right .hosts_right__list_item .hosts_right__list_item_content .hr__lic__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 60%;
    }

    /* ================================= ACTIVITES ================================= */
    .activites {
        margin: 5px 30px 5px 30px;
        margin-bottom: 40px;
    }

    .activites .activities__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-top: 20px;
        height: 1800px;
    }

    .activites .activities__list .activities__list_item {
        width: 100%;
        border-radius: 15px;
    }

    .activites .activities__list .activities__list_item .ali__img {
        width: 100%;

        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .activites .activities__list .activities__list_item .card__txt {
        padding: 15px;
    }

    .cards-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .card-sup-img {
        width: 100%;
        border-radius: 15px;
    }

    .card-sup-img img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        min-width: 100%;
        height: 200px;
    }

    /* SMALL CARD */
    .card-min-img {
        width: 100%;
        border-radius: 15px;
    }

    .card-min-img img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        min-width: 100%;
        height: 200px;
    }

    .card__txt {
        padding: 10px
    }

    /* SECOND CARDS COLUMN */

    .card-sup-img-2 {
        width: 100%;
        border-radius: 15px;
    }

    .card-min-img-2 {
        width: 100%;
        border-radius: 15px;
    }

    .card-min-img-2 img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        height: 200px;
    }

    .card-sup-img-2 img {
        display: inline-block;
        object-fit: cover;

        border-radius: 15px 15px 0 0;

        height: 200px;
    }

    /* ================================= FOOTER ================================= */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        background-color: var(--main-gray);

        height: 700px;

        margin-top: 20px;
        padding-left: 20px;
    }

    footer .footer__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 70%;
        padding-right: 250px;
    }

    /* IMAGES */
    #auberge {
        content: url('/assets/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    }

    #hotel_1 {
        content: url('/assets/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    }

    #hotel_2 {
        content: url('/assets/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
    }

    #hotel_3 {
        content: url('/assets/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
    }

    #aubegre_3 {
        content: url('/assets/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
    }

    #hotel_4 {
        content: url('/assets/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
    }

    #hotel_5 {
        content: url('/assets/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    }

    #hote {
        content: url('/assets/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    }

    #hotel_6 {
        content: url('/assets/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    }

    #port {
        content: url('/assets/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    }

    #fort {
        content: url('/assets/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    }

    #parc {
        content: url('/assets/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    }

    #dame {
        content: url('/assets/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    }
}